<%# 
***************************
 *  Implement a value for the <title> element that describes the content of the view
 * ************************** %>
 <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
   
  
 <%- messages() %> 




 <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<%# Render the form for adding inventory %>
<div id="review_container">
<h2>ALL FIELDS ARE REQUIRED</h2>
<form action="/inv/review" method="post">
    <h2>Author Details</h2>
    <h3>Please enter your contact details.</h3>
    
  <div>  
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="rev_firstname" placeholder="Enter your firstname" minlength="2" required value="<%= locals.rev_firstname %>">
</div>
<div>
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="rev_lastname" placeholder="Enter your lastname" minlength="2" required value="<%= locals.rev_lastname %>">
</div>
<div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="rev_email" placeholder="Enter a valid email address" required value="<%= locals.rev_email %>">
</div>
 
<br> <br> <br> 
<hr>
<br> <br> <br>
<h2>Create a Review</h2>
<p>Please submit your guest blog posts by using the fields below.</p>
<div class="form-group">
    <label for="revMake">Make:</label>
    <input type="text" id="revMake" name="rev_make" minlength="3" title="The minimum alphabetic characters is three" placeholder="Min of 3 characters" required value="<%= locals.rev_make %>">
  </div>
  <div class="form-group">
    <label for="revModel">Model:</label>
    <input type="text" id="revModel" name="rev_model" minlength="3" title="The minimum alphabetic characters is three" placeholder="Min of 3 characters" required value="<%= locals.rev_model %>">
  </div>
  <div>
    <label for="rating">Rating:</label>
    <input type="number" id="rating" name="rev_rating" min="1" max="6" required value="<%= locals.rev_rating %>">
  </div>
  <div>
    <label for="comments">Comments:</label>
    <textarea id="comments" name="rev_comments" rows="4" minlength="2" required><%= locals.rev_comments %></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
</div>
